body {
  font-family:"Open Sans",Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: url('cover-bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  padding: 20px 40px;
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #457fca , #5691c8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #457fca , #5691c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header h1 {
  color: #fff;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: 300;
}

header a {
  color: #fff;
}

main {
  opacity: 0.95;
  background-color: #efefef;
  min-height: 800px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.task-input {  
  min-height: 250px;
  margin: 20px;
  padding: 10px;
}

.task-input p {  
  font-size: 18px;
  line-height: 26px;
}

.task-input input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 5px solid #ddd;
}

.task-list {
  min-height: 250px;
  margin: 20px;
  padding: 10px;
  background: #fefefe;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.task-list li {
  font-size: 18px;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}

.empty-todo {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px; 
  color: #444;
}